.container {
    display: grid;
    grid-gap: 15px 5px;
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(4, 130px);
    margin: 1rem auto;
    width: 1000px;
   

}

.class1 {
    background-color: olivedrab;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
    border: black;
}

.class2 {
    background-color: olivedrab;
    grid-column: 9 / span 20;
    grid-row: 1 / span 1;
}

.class3 {
    background-color: olivedrab;
    grid-column: 33 / span 4;
    grid-row: 1 / span 1;
}

.class4 {
    background-color: olivedrab;
    grid-column: 1 / span 20;
    grid-row: 2 / span 1;
}

.class5 {
    background-color: olivedrab;
    grid-column: 23 / span 4;
    grid-row: 2 / span 1;
}

.class6 {
    background-color: olivedrab;
    grid-column: 29 / span 8;
    grid-row: 2 / span 1;
}

.class7 {
    background-color: olivedrab;
    grid-column: 1 / span 4;
    grid-row: 3;
}

.class8 {
    background-color: olivedrab;
    grid-column: 6 / span 8;
    grid-row: 3;
}

.class9 {
    background-color: olivedrab;
    grid-column: 15  / span 22;
    grid-row: 3;
}

.class10 {
    background-color: olivedrab;
    grid-column: 1 / span 8;
    grid-row: 4;
}

.class11 {
    background-color: olivedrab;
    grid-column: 10 / span 4;
    grid-row: 4;
}

.class12 {
    background-color: olivedrab;
    grid-column: 15 / span 8;
    grid-row: 4;
}

.class13 {
    background-color: olivedrab;
    grid-column: 24 / span 4;
    grid-row: 4;
}

.class14 {
    background-color: olivedrab;
    grid-column: 29 / span 8;
    grid-row: 4;
}



